mixin Box(props, title = '', subTitle = '', text = '')
  - const {type = 'default', topic = '', action = ''} = props
  .box(class=`box-${type}${title ? ' box-title' : ''}`)
    if (title)
      .box_title(class=`${topic ? 'box_title-topic' : ''}${action ? ' box_title-' + action : ''}`)
        if (topic)
          .box_topic(data-color=`${topic}`)
        h1.title.title-h1= title
        if (action === 'switcher')
          .wiki_switcher
            a.wiki_switcher_item(href='#') Русский
            span.wiki_switcher_sep /
            span.wiki_switcher_item.wiki_switcher_item-current English
        if (subTitle)
          p.subTitle= subTitle
        if (text)
          p.box_text= text
    if block
      block
