mixin Conference(item, size)
  article.conference(class=`${size ? 'conference-' + size : ''}${item.commercial ? ' conference-commercial' : ''}`)
    if (size !== 'past')
      if (size === 'alt-dates')
        .conference_dates.conference_dates--new
          .conference_date
            span.conference_date_small с
            span.conference_date_big 31
            span.conference_date_small Января
          .conference_date
            span.conference_date_small по
            span.conference_date_big 6
            span.conference_date_small Февраля
      else
        .conference_dates
          span.conference_dates_big= item.dates
          span.conference_dates_small= item.mounth
    .conference_preview
      img(src=item.preview, alt=item.title)
    .conference_content
      a.conference_title(href=`${item.url && item.url !== '#' ? item.url : 'conference-full.html'}`)= item.title
      .conference_location
        b= item.city
        span /
        p= item.country
      .conference_tags
        each tag in item.tags
          span.conference_tag= tag
      if (size === 'past')
        +Stars({text: 'Общий рейтинг', count: 5})
      .conference_actions
        +Btn(`Подробнее`, [`${item.commercial ? 'default-alt' : 'default'}`, 'sm', 'f14'])
        if (size !== 'past')
          +Btn(`Промокод`, [`${item.commercial ? 'default-alt' : 'default'}`, 'sm', 'f14'])
    if (size === 'mini')
      .conference_actions.mini
        +Btn(`Подробнее`, [`${item.commercial ? 'commercial' : 'default'}`, 'mini', 'f14'])
        +Btn(`Промокод`, [`${item.commercial ? 'commercial' : 'default'}`, 'mini', 'f14'])

mixin ConferenceMAin(item)
  article.conference(class=`conference-commercial conference-main conference-mini`)
    h3.title.title-h3.conference-main_title Главное событие
    .conference_dates
      span.conference_dates_big= item.dates
      span.conference_dates_small= item.mounth
    .conference_preview
      img(src=item.preview, alt=item.title)
    .conference_content
      a.conference_title(href=`${item.url && item.url !== '#' ? item.url : 'conference-full.html'}`)= item.title
      .conference_location
        b= item.city
        span /
        p= item.country
      .conference_tags
        each tag in item.tags
          span.conference_tag= tag
      .conference_actions
        +Btn(`Подробнее`, [`${item.commercial ? 'default-alt' : 'default'}`, 'sm', 'f14'])
        +Btn(`Промокод`, [`${item.commercial ? 'default-alt' : 'default'}`, 'sm', 'f14'])
    .conference_actions.mini
      +Btn(`Подробнее`, [`${item.commercial ? 'commercial' : 'default'}`, 'mini', 'f14'])
      +Btn(`Промокод`, [`${item.commercial ? 'commercial' : 'default'}`, 'mini', 'f14'])

mixin Conferences(items = [], size = '', title = 'Конференции:')
  .conferences(class=`${size ? 'conferences-' + size : ''}`)
    .conferences_title
      if (size === 'mini')
        span.sidebar_title= title
        button.conferences_calendar(data-fn-calendar-open='calendar-show')
          svg.conferences_calendar_icon(viewBox="0 0 24 24" width="24" height="24")
            use(href=`assets/images/svg/menu-sprite.svg#calendar-icon`)
      else
        h2.title.title-h2= title
    .conferences_items
      each item in items
        +Conference(item, size)
    .conferences_atcions
      a.conferences_more(href="#") Показать все...
    