mixin SwiperMain(count = 2, title = '', type = 'posts')
  - let i = 0
  .sWiper_wrapper.sWiper_wrapper_main
    .sWiper_title
      h2.title.title-h2= title
      .sWiper_nav
        button.sWiper_nav_item.sWiper_nav-prev
        button.sWiper_nav_item.sWiper_nav-next
    .swiper.sWiper
      .swiper-wrapper
        while i < count
          .swiper-slide
            if (type === 'posts')
              +PostSwiper({
                title: 'Почему 80% арбитражников теряют свои деньги на старте запуска РК в Google Ads', 
                text: ['Представьте: вы нашли рабочую связку для Google Ads, настроили кампании и...'],
                preview: 'assets/images/public/post-preview-2.jpg',
              })
            else if (type === 'shorts')
              +ShortSwiper({
                title: 'Почему 80% арбитражников теряют свои деньги на старте запуска РК в Google Ads', 
                poster: 'assets/images/public/shorts/1.jpg',
                short: 'assets/videos/short-video-1.mp4',
              })
          - i++

mixin SwiperPost(count = 2, swiperId = 'swiper-post-id')
  - let i = 0
  .sWiper_wrapper(id=swiperId)
    .sWiper_nav.sWiper_nav-alt
      button.sWiper_nav_item.sWiper_nav-prev
      button.sWiper_nav_item.sWiper_nav-next
    .swiper.sWiper.sWiper-post
      .swiper-wrapper
        while i < count
          .swiper-slide
            .sWiper_item.sWiper_item-img
              img(src='assets/images/public/post/swiper.jpg', alt='Почему 80% арбитражников теряют свои деньги на старте запуска РК в Google Ads')
          - i++

mixin SwiperConferencies(count = 3, title = '', commercial = false)
  - let i = 0
  .sWiper_wrapper.sWiper_wrapper-conferencies
    .sWiper_title
      h2.title.title-h2(class=`${commercial ? 'title-commercial' : ''}`)= title
      .sWiper_nav.sWiper_nav-conferencies(class=`${commercial ? 'sWiper_nav-commercial' : ''}`)
        button.sWiper_nav_item.sWiper_nav-prev
        button.sWiper_nav_item.sWiper_nav-next
    .swiper.sWiper.sWiper-conferencies
      .swiper-wrapper
        while i < count
          .swiper-slide
            +Conference({
                dates: '11-12',
                mounth: 'сентября',
                title: 'Affiliate Moscow 2025',
                country: 'Россия',
                city: 'Москва',
                tags: ['Affiliate', 'Marketing'],
                url: '#',
                promocode: 'XpDrTx',
                preview: 'assets/images/public/conf/1.jpg',
                commercial: true
              })
          - i++

mixin SwiperConferenciesPast(count = 3, title = '')
  - let i = 0
  .sWiper_wrapper.sWiper_wrapper-conferencies
    .sWiper_title
      h2.title.title-h2(class=``)= title
      .sWiper_nav.sWiper_nav-conferencies(class=``)
        button.sWiper_nav_item.sWiper_nav-prev
        button.sWiper_nav_item.sWiper_nav-next
    .swiper.sWiper.sWiper-conferencies
      .swiper-wrapper
        while i < count
          .swiper-slide
            +Conference({
                dates: '11-12',
                mounth: 'сентября',
                title: 'Affiliate Moscow 2025',
                country: 'Россия',
                city: 'Москва',
                tags: ['Affiliate', 'Marketing'],
                url: '#',
                promocode: 'XpDrTx',
                preview: 'assets/images/public/conf/1.jpg',
              }, 'past')
          - i++