mixin TableMain(count = 2, title = '', type = 'services', subTitle = '', commercial = false)
  - let i = 0
  .table_wrapper(class=`table_wrapper-${type}`)
    .table_title
      h2.title.title-h2= title
      if (subTitle)
        .table_subTitle
          p.subTitle= subTitle
    .table(class=`table-${type}${commercial ? ' table-commercial' : ''}`)
      .table_head(class=`table_head-${type}`)
        if (type === 'services')
          span.table_head_item Сервис
          span.table_head_item Наименование
          span.table_head_item Цена
          span.table_head_item Скидка
          span.table_head_item
        else if (type === 'partners')
          span.table_head_item №
          span.table_head_item
          span.table_head_item Наименование
          span.table_head_item Отзывы
          span.table_head_item Мин.
      .table_items
        while i < count
          .table_item(class=`table_item-${type}${i === 2 ? ' table_item-commercial' : ''}`)
            if (type === 'services')
              a.table_item_col.table_item_logo(href="#")
                img(src='assets/images/public/table/1.jpg', alt='PST.NET')
              .table_item_col.table_item_name 
                a(href="#") PST.NET
                p Платежки для рекламы. Эксклюзивные бины к...
              .table_item_col.table_item_price от 9$
              .table_item_col 
                +CopyTo('AFFCULT')
              .table_item_col
                +BtnPrime({text: 'Обзор', size: 'sm', mode: `${i === 2 || commercial ? 'commercial' : 'mini'}`})
              .table_item_col
                +BtnPrime({text: 'Сайт', size: 'sm', mode: `${i === 2 || commercial ? 'commercial' : 'mini'}`})
            else if (type === 'partners')
              span.table_item_col.table_item_num= i + 1
              a.table_item_col.table_item_logo(href="#")
                img(src='assets/images/public/table/2.jpg', alt='PST.NET')
              .table_item_col.table_item_name 
                a(href="#") ExGaming
              .table_item_col
                +ReviewStat('21 отзыв, рейтинг 10.0', {positive: 21, neutral: 0, negative: 5})
              .table_item_col.table_item_price 150$
              .table_item_col
                +BtnPrime({text: 'На сайт', size: 'sm', mode: `${i === 2 ? 'commercial' : 'mini'}`})
          - i++
    .table_actions--alt
      a.table_more(href="#") Показать все...
      +Pagination()

mixin TableMainNew({count = 4, title = '', type = 'services', subTitle = '', commercial = false})
  - let i = 0
  .table_wrapper(class=`table_wrapper-${type}`)
    .table_title
      h2.title.title-h2= title
      if (subTitle)
        .table_subTitle
          p.subTitle= subTitle
    .table(class=`table-${type}${commercial ? ' table-commercial' : ''} table--new`)
      .table_head(class=`table_head-${type}`)
        if (type === 'services')
          span.table_head_item Сервис
          span.table_head_item Наименование
          span.table_head_item Цена
          span.table_head_item Скидка
        else if (type === 'partners')
          span.table_head_item №
          span.table_head_item
          span.table_head_item Наименование
          span.table_head_item Отзывы
          span.table_head_item Мин.
      .table_items
        while i < count
          .table_item(class=`table_item-${type}${i === 2 ? ' table_item-commercial' : ''}`)
            if (type === 'services')
              a.table_item_col.table_item_logo(href="#")
                img(src='assets/images/public/table/1.jpg', alt='PST.NET')
              .table_item_col.table_item_name 
                a(href="#") PST.NET
                p Платежки для рекламы. Эксклюзивные бины к...
              .table_item_col.table_item_price от 9$
              .table_item_col.table_item_col--desctop-xl
                +CopyTo('AFFCULT')
              .table_item_col.table_item_col--desctop-xl
                +BtnPrime({text: 'Обзор', size: 'sm', mode: `${i === 2 || commercial ? 'commercial' : 'mini'}`})
              .table_item_col.table_item_col--desctop-xl
                +BtnPrime({text: 'Сайт', size: 'sm', mode: `${i === 2 || commercial ? 'commercial' : 'mini'}`})
              .table_item_col.table_item_col--mobile-xl
                +CopyTo('AFFCULT', 'Скидка 50%')
                +BtnPrime({text: 'Обзор', size: 'sm', mode: `${i === 2 || commercial ? 'commercial' : 'mini'}`})
                +BtnPrime({text: 'Сайт', size: 'sm', mode: `${i === 2 || commercial ? 'commercial' : 'mini'}`})
            else if (type === 'partners')
              span.table_item_col.table_item_num= i + 1
              a.table_item_col.table_item_logo(href="#")
                img(src='assets/images/public/table/2.jpg', alt='PST.NET')
              .table_item_col.table_item_name 
                a(href="#") ExGaming
              .table_item_col
                +ReviewStat('21 отзыв, рейтинг 10.0', {positive: 21, neutral: 0, negative: 5})(class='review-stat--new')
              .table_item_col.table_item_price 150$
              .table_item_col.table_item_col--action
                button.table_btn_arrow
                +BtnPrime({text: 'На сайт', size: 'sm', mode: `${i === 2 ? 'commercial' : 'mini'}`})
          - i++
    a.table_more(href="#") Показать все...

mixin TableInfluencers(items = [], title = 'Все инфлюенсеры')
  - let i = 0
  .table_wrapper(class=`table_wrapper-influencers`)
    .table_title
      h2.title.title-h2= title
    .table(class=`table-influencers`)
      .table_head(class=`table_head-influencers`)
        span.table_head_item Инфлюенсер
        span.table_head_item Подробнее
      .table_items
        each item, index in items
          .table_item(class=`table_item-influencers${item.commercial === i ? ' table_item-commercial' : ''}`)
            +InfluencerCard(item)
          - i++
    .table_footer
      a.table_more(href="#") Показать все...
      +Btn(`Запрос на добавление`, [`glass`, 'sm', 'f14'], 'form-command')

mixin TableInfluencersNew(items = [], title = 'Все инфлюенсеры')
  - let i = 0
  .table_wrapper(class=`table_wrapper-influencers`)
    .table_title
      h2.title.title-h2= title
    .table(class=`table-influencers table--new`)
      .table_head(class=`table_head-influencers`)
        span.table_head_item Инфлюенсер
        span.table_head_item Подробнее
      .table_items
        each item, index in items
          .table_item(class=`table_item-influencers${item.commercial === i ? ' table_item-commercial' : ''}`)
            +InfluencerCard(item)(class='influencer_card--new')
          - i++
    .table_footer
      a.table_more(href="#") Показать все...
      +Btn(`Запрос на добавление`, [`glass`, 'sm', 'f14'], 'form-command')

mixin TableCommands(items = [], title = '', commercial = false)
  - let i = 0
  .table_wrapper(class=`table_wrapper-commands`)
    .table_title
      h2.title.title-h2= title
    .table(class=`table-commands${commercial ? ' table-commercial' : ''}`)
      .table_head(class=`table_head-commands`)
        span.table_head_item Название команды
        span.table_head_item Подробнее
      .table_items
        each item, index in items
          .table_item(class=`table_item-commands${item.commercial === i || commercial ? ' table_item-commercial' : ''}`)
            +CommandCard(item, commercial)
          - i++
    .table_footer
      a.table_more(href="#") Показать все...
      +Btn(`Добавить команду`, [`glass`, 'sm', 'f14'])

mixin TableCommandsNew(items = [], title = '', commercial = false)
  - let i = 0
  .table_wrapper(class=`table_wrapper-commands`)
    .table_title
      h2.title.title-h2= title
    .table(class=`table-commands${commercial ? ' table-commercial' : ''} table--new`)
      .table_head(class=`table_head-commands`)
        span.table_head_item Название команды
        span.table_head_item Подробнее
      .table_items
        each item, index in items
          .table_item(class=`table_item-commands${item.commercial === i || commercial ? ' table_item-commercial' : ''}`)
            +CommandCard(item, commercial)(class='command_card--new')
          - i++
    .table_footer
      a.table_more(href="#") Показать все...
      +Btn(`Добавить команду`, [`glass`, 'sm', 'f14'])

mixin TableTG(items = [], title = '', commercial = false)
  - let i = 0
  .table_wrapper(class=`table_wrapper-tg`)
    .table_title
      h2.title.title-h2= title
    .table(class=`table-tg table-interactive${commercial ? ' table-commercial' : ''}`)
      .table_head(class=`table_head-tg`)
        span.table_head_item Название канала
        span.table_head_item.table_head_item-interactive Подписчики
        span.table_head_item.table_head_item-interactive Охват
        span.table_head_item.table_head_item-interactive Динамика
        span.table_head_item Подробнее
      .table_items.table_items-tg
        each item, index in items
          .table_item(class=`table_item-tg${item.commercial === i || commercial ? ' table_item-commercial' : ''}`)
            +TgCard(item, commercial)
          - i++
    .table_footer
      a.table_more(href="#") Показать все...
      +Btn(`Добавить команду`, [`glass`, 'sm', 'f14'])

mixin TableTGNew(items = [], title = '', commercial = false)
  - let i = 0
  .table_wrapper(class=`table_wrapper-tg`)
    .table_title
      h2.title.title-h2= title
    .table(class=`table-tg table-interactive${commercial ? ' table-commercial' : ''} table--new`)
      .table_head(class=`table_head-tg`)
        span.table_head_item Название канала
        span.table_head_item.table_head_item--subs.table_head_item-interactive Подписчики
        span.table_head_item.table_head_item--oxvat.table_head_item-interactive Охват
        span.table_head_item.table_head_item--dinamic.table_head_item-interactive Динамика
        span.table_head_item Подробнее
      .table_items.table_items-tg
        each item, index in items
          .table_item(class=`table_item-tg${item.commercial === i || commercial ? ' table_item-commercial' : ''}`)
            +TgCard(item, commercial)(class='tg_card--new')
          - i++
    .table_footer
      a.table_more(href="#") Показать все...
      +Btn(`Добавить команду`, [`glass`, 'sm', 'f14'])

mixin TableVacancies(items = [], title = '', commercial = false)
  - let i = 0
  .table_wrapper(class=`table_wrapper-vacancies`)
    .table_title
      h2.title.title-h2= title
    .table(class=`table-vacancies ${commercial ? ' table-commercial' : ''}`)
      .table_head(class=`table_head-vacancies`)
        span.table_head_item Вакансия
        span.table_head_item Дата публикации
        span.table_head_item Опыт
        span.table_head_item З/П
      .table_items.table_items-vacancies
        each item, index in items
          .table_item(class=`table_item-vacancies${item.commercial === i || commercial ? ' table_item-commercial' : ''}`)
            +VacanciesCard(item, commercial)
          - i++

mixin TableVacanciesNew(items = [], title = '', commercial = false)
  - let i = 0
  .table_wrapper(class=`table_wrapper-vacancies`)
    .table_title
      h2.title.title-h2= title
    .table(class=`table-vacancies ${commercial ? ' table-commercial' : ''} table--new`)
      .table_head(class=`table_head-vacancies`)
        span.table_head_item Вакансия
        span.table_head_item Дата публикации
        span.table_head_item Опыт
        span.table_head_item З/П
      .table_items.table_items-vacancies
        each item, index in items
          .table_item(class=`table_item-vacancies${item.commercial === i || commercial ? ' table_item-commercial' : ''}`)
            +VacanciesCard(item, commercial)(class='vacancies_card--new')
          - i++