mixin Wiki(letter = '', items, size = 'full')
  .wiki_block(id=`letter-${letter}`)
    if (letter)
      h2.title.title-h2.wiki_block_title= letter
    .wiki_block_items
      each item in items
        a.wiki_block_item(href="word.html", class=`wiki_block_item--${size}`)= item

mixin WikiLetters(lang = 'ru')
  - ruItems = ['А', 'Б', 'В', 'Г', 'Д', 'Е', 'Ж', 'З', 'И', 'К', 'Л', 'М', 'Н', 'О', 'П', 'Р', 'С', 'Т', 'У', 'Ф', 'Х', 'Ц', 'Ч', 'Ш', 'Э', 'Я' ]
  - enitems = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z' ]
  .wiki_letters
    if (lang === 'ru')
      each item in ruItems
        a.wiki_letters_item(href=`#letter-${item}`)= item
    if (lang === 'en')
      each item in enitems
        a.wiki_letters_item(href=`#letter-${item}`)= item
        